<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<head>
		<!-- iCheck -->
		<link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
		<!-- bootstrap-wysiwyg -->
		<link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
		<!-- Select2 -->
		<link href="../vendors/select2/dist/css/select2.min.css" rel="stylesheet">
		<!-- Switchery -->
		<link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
		<!-- starrr -->
		<link href="../vendors/starrr/dist/starrr.css" rel="stylesheet">
		<!-- bootstrap-daterangepicker -->
		<link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
	</head>
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	 
	<th:block layout:fragment="customContents">
	<div class="container row" style="float: none; margin:100 auto;">
		<div class="col-md-6" style="float: none; margin:0 auto;">
							<div class="x_panel">
								<div class="x_title">
									<h2>등급 기준 수정<small>revision of rating standards</small></h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<form class="form-horizontal form-label-left">

										<div class="form-group row add-member">
											<label class="control-label col-md-2 col-sm-2 ">등급이름</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="text" class="form-control" placeholder="등급이름 수정">
											</div>
										</div>
										<div class="form-group row add-member">
											<label class="control-label col-md-2 col-sm-2 ">판매횟수</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="text" class="form-control" placeholder="판매횟수 기준 수정">
											</div>
										</div>
										<div class="form-group row add-member">
											<label class="control-label col-md-2 col-sm-2">판매금액</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="text" class="form-control" placeholder="판매금액 기준 수정">
											</div>
										</div>
										<div class="form-group row add-member">
											<label class="control-label col-md-2 col-sm-2">별점기준</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="text" class="form-control" placeholder="별점 기준 수정">
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6 offset-md-3">
												<button type="button" class="btn btn-primary">취소</button>
												<button type="submit" class="btn btn-success">기준수정</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
	</th:block>
</html>